@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$default-font: "Inter", sans-serif;
$text-color: #97a192;
$bg-btn: #141414;
$bg-color: linear-gradient(140deg, #000000 30%, #252525);
